data
data2
data3
positive data
negative data
document_analysis_ui/frontend/node_modules
document_analysis_ui/frontend/dist
venv
.venv
__pycache__
*.pyc
.git
.github
.DS_Store
*.xlsx
*.pdf
*.png
*.jpg
*.docx
!conditional letter_v1.docx
